<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/inputs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select.css}">
    <link rel="icon" th:href="@{/icons/icon.svg}">
</head>
<body>
<div id="centered_box_layout">
    <h1>Создать задачу</h1>
    <form th:action="@{/save}" th:object="${task}" method="post">
        <div><p>Название</p></div>
        <div><input type="text" th:field="*{taskName}" /></div>
        <div><p>Описание</p></div>
        <div><input type="text" th:field="*{taskDescription}" /></div>
        <div><p>Дата и время</p></div>
        <div><input type="datetime-local" th:field="*{taskExpiryDate}"/></div>
        <div><p>Выполнение</p></div>
        <div>
            <select th:field="*{isFinished}">
                <option th:value="false" selected>Не выполнено</option>
                <option th:value="true">Выполнено</option>
            </select>
        </div>
        <div><p>Приоретет</p></div>
        <div>
            <select th:field="*{taskPriority}">
                <option th:value="0" selected>Низкий</option>
                <option th:value="1">Средний</option>
                <option th:value="2">Высокий</option>
            </select>
        </div>
        <div><input type="submit" value="Создать" /> <input type="reset" value="Сбросить" /></div>
    </form>
    <form th:action="@{/tasks}">
        <input type="submit" value="Вернуться" />
    </form>
</div>
</body>
</html>