<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/inputs.css}">
    <link rel="icon" th:href="@{/icons/icon.svg}">
</head>
<body>
<div id="centered_box_layout">
    <h1>Создание аккаунта</h1>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div><p>Логин</p></div>
        <div><p class="subline" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Логин не может быть таким :(</p></div>
        <div><input type="text" name="userName" th:field="*{userName}"/></div>
        <div><p>Пароль</p></div>
        <div><p class="subline" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Пароль не может быть таким :(</p></div>
        <div><input type="password" name="userPassword" th:field="*{userPassword}"/></div>
        <div><input type="submit" value="Создать"/><input type="reset" value="Очистить"/></div>
    </form>
    <form th:action="@{/login}">
        <input type="submit" value="Вернуться" />
    </form>
</div>
</body>
</html>