<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Task Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/inputs.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <link rel="icon" th:href="@{/icons/icon.svg}">
</head>
<body>
    <div id="control_panel">
        <a th:href="@{/new}"><button><img th:src="@{/icons/add.svg}"></button></a>
        <a th:href="@{/logout}"><button><img th:src="@{/icons/logout.svg}"></button></a>
    </div>
    <table id="task-table" th:if="${!tasks.isEmpty()}">
        <thead>
            <tr>
                <th>Задача</th>
                <th>Описание</th>
                <th>Создатель</th>
                <th>Дата завершения</th>
                <th>Время завершения</th>
                <th>Статус</th>
                <th>Приоретет</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskDescription}"></td>
                <td th:text="${task.creatorLogin}"></td>
                <td><div th:text="${#temporals.format(task.taskExpiryDate, 'dd MMMM yyyy')}"></div></td>
                <td><div th:text="${#temporals.format(task.taskExpiryDate, 'HH:mm')}"></div></td>
                <td th:text="${task.isFinished} ? 'Выполнено' : 'Не выполнено'"></td>
                <td th:text="${task.taskPriority == 0 ? 'Низкий' : ''} + ${task.taskPriority == 1 ? 'Средний' : ''} + ${task.taskPriority == 2 ? 'Высокий' : ''}"></td>
                <td>
                    <a th:href="@{'/delete/' + ${task.taskId}}"><img id="icons" th:src="@{/icons/delete.svg}"></a>
                    <a th:href="@{'/edit/' + ${task.taskId}}"><img id="icons" th:src="@{/icons/edit.svg}"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${tasks.isEmpty()}" id="centered_box_layout">
        <h1>У Вас пока нет задач</h1>
        <form th:action="@{/new}">
            <input type="submit" value="Создать задачу" />
        </form>
    </div>
</body>
</html>